body {
  background: #000033;
  display: block;
  color: White;
  font-family: monospace;
  font-size: 16px;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 1400px;
}

a {
  color: #ffff66;
}

@media (prefers-color-scheme: dark) {
  body {
    background: Black;
    color: #00cc00;
  }
  a {
    color: LightSkyBlue;
  }
}
