body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1.25em;
  line-height: 1.5;
  margin-right: 40px;
  margin-left: 40px;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #000000;
    color: #00ff00;
  }
  a {
    color: #87cefa;
  }
}
